<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header id="header">
        <nav>
            <div>
                <ul>
                    <li><a href="/" class="top_a"><b class="top_b">&lt; / &gt;</b><b>
                                Blogger</b></a></li>
                    <li><a href="/home"><b>Home</b></a></li>
                    <li><a href="/add-post"><b>New Post</b></a></li>
                    <li><a href="/add-admin"><b>Add new admin</b></a></li>
                    <li><a href="/logout"><b>Log-out</b></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="first">
            <h1>Blogger</h1>
            <p>Welcome to Blogger</p>
            <form action="/" method="post">
                <table class="t1">
                    <%for(var i=0;i<users.length;i++){%>
                        <tr>
                            <td>
                                <img src="<%= users[i].url%>" align="left" class="i1">
                                <h3>
                                    <%= users[i].user_name%>
                                </h3>
                                <h3>
                                    <%= users[i].title%>
                                </h3>
                                <%= new Date(users[i].date).toDateString() %>
                                    <br>
                                    <script>
                                        var div = document.createElement("div");
                                        div.innerHTML = '<p><%= users[i].des %></p>';
                                        var excerpt = div.innerText.substring(0, 30);
                                        document.write(excerpt);
                                    </script>
                            </td>
                        </tr>
                        <tr>
                            <td class="data">
                                <a href="/view-user?id=<%= users[i]._id %>" class="l1">Read more</a>
                                <hr>
                            </td>
                        </tr>
                        <%}%>
                </table>
            </form>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>

</body>

</html>